  <!-- Footer -->
  <footer class="footer" id="contacto">
    <p>Eclipse Boulevard x Las Lagunas Boulevard, Vinewood Oeste</p>
    <p>Lunes a Domingo: 09:00 AM - 5:00 AM</p>
    <p>© 2025 HAUTE. Todos los derechos reservados.</p>
  </footer>
  
  <script src="/js/main.js"></script>
</body>
</html>