<section class="section" id="galeria">
    <h2 class="section-title">Galería</h2>
    
    <div class="gallery-container">
      <!-- Fila 1 -->
      <div class="gallery-row">
        <div class="gallery-item">
          <img src="/images/local/recepcion.jpg" alt="Receoción de HAUTE">
          <div class="gallery-overlay">
            <h3>Recepción</h3>
            <p>Cócteles exclusivos con licores premium, comida recien hecha y servida en mesas con vista al exterior o para llevar</p>
          </div>
        </div>
        
        <div class="gallery-item">
          <img src="/images/local/hall.jpg" alt="Hall de HAUTE">
          <div class="gallery-overlay">
            <h3>Hall principal</h3>
            <p>Ambiente tranquilo con un gran sofá para descansar mientras se escucha musica y se beben tragos de primera calidad</p>
          </div>
        </div>
      </div>
      
      <!-- Fila 2 -->
      <div class="gallery-row">
        <div class="gallery-item">
          <img src="/images/local/interior.jpg" alt="Pista de baile">
          <div class="gallery-overlay">
            <h3>Interior del local</h3>
            <p>Pista de baile + barra con tragos y comida</p>
          </div>
        </div>
        
        <div class="gallery-item">
          <img src="/images/local/vip.jpg" alt="Salón VIP">
          <div class="gallery-overlay">
            <h3>Salón VIP</h3>
            <p>Bailes, lujuria, buena musica, luces tenues para crear un ambiente perfecto</p>
          </div>
        </div>
      </div>
      
      <!-- Fila 3 -->
      <div class="gallery-row">
        <div class="gallery-item">
          <img src="/images/local/local.jpg" alt="Fachada del local">
          <div class="gallery-overlay">
            <h3>Fachada Nocturna</h3>
            <p>Entrada principal con iluminación led</p>
          </div>
        </div>
        
        <div class="gallery-item">
          <img src="/images/local/salon.jpg" alt="Salon de eventos">
          <div class="gallery-overlay">
            <h3>Eventos Temáticos</h3>
            <p>Noches exclusivas cada fin de semana</p>
          </div>
        </div>
      </div>
    </div>
  </section>