<section class="section" id="galeria">
    <h2 class="section-title">Galería</h2>
    
    <div class="gallery-container">
      <!-- Fila 1 -->
      <div class="gallery-row">
        <div class="gallery-item">
          <img src="/images/local/hall.jpg" alt="Hall de HAUTE">
          <div class="gallery-overlay">
            <h3>Hall principal</h3>
            <p>Cócteles exclusivos con licores premium, comida recien hecha y servida en mesas con vista al exterior o para llevar</p>
          </div>
        </div>
        
        <div class="gallery-item">
          <img src="/images/local/reuniones.jpg" alt="Sala de reuniones">
          <div class="gallery-overlay">
            <h3>Sala privada para reuniones</h3>
            <p>Ambiente tranquilo con una gran mesa para varios asistentes. Espacio grande, tranquilo y <strong>seguro</strong></p>
          </div>
        </div>
      </div>
      
      <!-- Fila 2 -->
      <div class="gallery-row">
        <div class="gallery-item">
          <img src="/images/local/jefatura.jpg" alt="Salon de jefatura">
          <div class="gallery-overlay">
            <h3>Salón de ocio</h3>
            <p>El salón de reuniones cuenta no solo con zona segura para reuniones privada, sino que también con una parte recreativa</p>
          </div>
        </div>
        
        <div class="gallery-item">
          <img src="/images/local/vip.jpg" alt="Salón VIP">
          <div class="gallery-overlay">
            <h3>Salón VIP</h3>
            <p>Bailes, lujuria, buena musica, luces tenues para crear un ambiente perfecto</p>
          </div>
        </div>
      </div>
      
      <!-- Fila 3 -->
      <div class="gallery-row">
        <div class="gallery-item">
          <img src="/images/local/salon.jpg" alt="Salon">
          <div class="gallery-overlay">
            <h3>Pista de baile más escenario y barra</h3>
            <p>Entrada principal con iluminación led</p>
          </div>
        </div>
        
        <div class="gallery-item">
          <img src="/images/local/interior.jpg" alt="Palco superior">
          <div class="gallery-overlay">
            <h3>Dos pisos</h3>
            <p>Segundo piso de la pista principal</p>
          </div>
        </div>
      </div>
    </div>
  </section>