<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HAUTE - Restaurant & Nightclub</title>
  <link rel="icon" href="https://marketplace.canva.com/GRZO0/MAFJn8GRZO0/1/tl/canva-crown-vector-icon-MAFJn8GRZO0.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Tagesschrift&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  
</head>
<body>
  <!-- Overlay para mejor legibilidad -->
  <div class="overlay"></div>
  
  <header class="header">
    <a href="#inicio">
      <img src="/images/logo.png" alt="HAUTE" class="logo">
    </a>
    <nav class="nav-links">
      <a href="#inicio" class="nav-link">Nombre</a>
      <a href="#historia" class="nav-link">Historia</a>
      <a href="#objetivos" class="nav-link">Objetivos</a>
      <a href="#ubicacion" class="nav-link">Ubicacion</a>
      <a href="#members" class="nav-link">Miembros</a>
      <a href="#attire" class="nav-link">Indumentaria</a>
      <a href="#tasks" class="nav-link">Tareas</a>
      <a href="#why-us" class="nav-link">Nosotros</a>
    </nav>
  </header>