<section id="ubicacion" class="section">
    <div class="game-location-container">
      <h2 class="section-title">UBICACIÓN</h2>
      
      <!-- Contenedor tipo galería para las imágenes de ubicación -->
      <div class="location-gallery">
        <div class="gallery-item location-map-item">
          <img src="/images/local/mapa_juego.png" alt="Mapa de Los Santos">
          <div class="gallery-overlay">
            <h3>MAPA DE UBICACIÓN</h3>
            <p>Centro de Vinewood</p>
            <div class="map-marker">
                <i class="fas fa-map-marker-alt"></i>
            </div>
          </div>
        </div>
          
        <div class="gallery-item">
          <img src="/images/local/recepcion.jpg" alt="Edificio HAUTE">
          <div class="gallery-overlay">
              <h3>Recepción</h3>
              <p>Recepción principal del local</p>
          </div>
        </div>
        <div class="gallery-item">
          <img src="/images/local/local.jpg" alt="Edificio HAUTE">
          <div class="gallery-overlay">
              <h3>HAUTE</h3>
              <p>Fachada exterior del local</p>
          </div>
        </div>
        <div class="location-info">
          <h3><i class="fas fa-crosshairs"></i> Cómo encontrarnos</h3>
          <div class="location-detail">
            <i class="fas fa-map-pin"></i>
            <div>
              <h4>Dirección</h4>
              <p>Èclipse Boulevard esquina Las Lagunas Boulevard<br>Oeste de Vinewood, Los Santos</p>
            </div>
          </div>
        
          <div class="location-detail">
            <i class="fas fa-car"></i>
            <div>
              <h4>Puntos de referencia</h4>
              <ul>
                <li>A metros del Palace.</li>
                <li>Dentro de Vinewood.</li>
                <li>Cerca del Diamond Casino & Resort.</li>
              </ul>
            </div>
          </div>
        
          <div class="location-detail">
            <i class="fas fa-lightbulb"></i>
            <div>
              <h4>Reconócenos por</h4>
              <ul>
                <li>Amplio frente con mesas y estacionamiento visibles</li>
                <li>Gran recepción, salón y restaurant con vista a la calle.</li>
                <li>Estacionamiento exclusivo para clientes.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>